# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Java CI with Gradle

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  contents: read

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        module: [ java-sdk, spring, spring-tc, micronaut-tc ]
        include:
          - module: java-sdk
            name: Java SDK with Testcontainers
            jdk: 17
            folder: java-sdk
          - module: spring
            name: Spring Boot Azure Starter
            jdk: 17
            folder: spring-cloud-azure-starter
          - module: spring-tc
            name: Spring Boot Azure Starter Testcontainers
            jdk: 17
            folder: spring-cloud-azure-starter-testcontainers
          - module: micronaut-tc
            name: Micronaut Testcontainers
            jdk: 17
            folder: micronaut-testcontainers
          - module: quarkus-tc
            name: Quarkus Testcontainers
            jdk: 17
            folder: quarkus-testcontainers
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Set up JDK ${{ matrix.jdk }}
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          java-version: ${{ matrix.jdk }}
          distribution: 'temurin'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0
      - name: Build with Gradle using ${{ matrix.name }}
        working-directory: ${{ matrix.folder }}
        run: ./gradlew test
